{% extends "Taberna/base.html" %}

{% block content %}
  <h2 class="text-2xl font-bold text-yellow-300 mb-4">🍺 Actualizar Cliente Frecuente</h2>
  <p class="text-white mb-6">Llena los datos para actualizar la información de nuestro cliente.</p>

  <form method="post" class="bg-gray-800 p-6 rounded-lg max-w-md">
    {% csrf_token %}
    {{ form.as_p }}

    <div style="display: flex; flex-direction: column; gap: 1em; margin-top: 2em; max-width: 300px;">
      <button type="submit"
              style="padding: 1em; background-color: #b5854a; color: white; border: none; border-radius: 8px; text-align: center; font-weight: bold; cursor: pointer;">
        ➕ Actualizar Cliente Frecuente
      </button>

      <a href="{% url 'Taberna:clientes_frecuentes' %}" 
         style="padding: 1em; background-color: #a9733d; color: white; border: none; border-radius: 8px; text-align: center; text-decoration: none; font-weight: bold;">
        ⬅️ Volver a la Lista de Clientes
      </a>
    </div>
  </form>
{% endblock %}