{% extends "Taberna/base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-warning">🍺 Actualizar Cliente Frecuente</h2>
  <p class="text-light">Llena los datos para actualizar la información de nuestro cliente.</p>

  <form method="post" class="bg-taberna text-white p-4 rounded shadow w-50 mx-auto">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="d-grid gap-2 mt-4">
      <button type="submit" class="btn btn-edicion fw-bold">➕ Actualizar Cliente Frecuente</button>
      <a href="{% url 'Taberna:clientes_frecuentes' %}" class="btn btn-secondary fw-bold">⬅️ Volver a la Lista de Clientes</a>
    </div>
  </form>
</div>
{% endblock %}
