{% extends "Taberna/base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-warning">Actualizar Producto</h2>
  <p class="text-light">Llena los datos para modificar la información del producto seleccionado.</p>

  <form method="post" class="bg-taberna text-white p-4 rounded shadow w-50 mx-auto">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <div class="form-group row">
          <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label text-right">{{ field.label }}</label>
          <div class="col-sm-8">
            {% if field.name == 'descripcion' %}
              <textarea name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control bio-textarea" rows="4">{{ field.value|default:"" }}</textarea>
            {% else %}
            {{ field }}
            {% if field.errors %}
              <div class="text-danger mt-1">{{ field.errors }}</div>
            {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="mb-3">
      <button type="submit" class="btn btn-edicion fw-bold">➕ Actualizar Producto</button>
      <a href="{% url 'Taberna:productos' %}" class="btn btn-secondary fw-bold">⬅️ Volver al Menú</a>
    </div>
  </form>
</div>
{% endblock %}