{% extends "Taberna/base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-warning">Actualizar Producto</h2>
  <p class="text-light">Llena los datos para modificar la información del producto seleccionado.</p>

  <form method="post" class="bg-taberna text-white p-4 rounded shadow w-50 mx-auto">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="d-grid gap-2 mt-4">
      <button type="submit" class="btn btn-edicion fw-bold">➕ Actualizar Producto</button>
      <a href="{% url 'Taberna:productos' %}" class="btn btn-secondary fw-bold">⬅️ Volver al Menú</a>
    </div>
  </form>
</div>
{% endblock %}
