{% extends "Taberna/base.html" %}

{% block title %}Avatar{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-warning mb-4">Actualizar Avatar</h2>
  <form method="post" enctype="multipart/form-data" class="bg-taberna text-white p-4 rounded shadow w-50 mx-auto">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid gap-2 mt-4">
    <button type="submit" class="btn btn-edicion w-100">Actualizar Avatar</button>
    </div>
  </form>
  <div class="text-center mt-4">
    <a href="{% url 'Taberna:home' %}" class="btn btn-secondary">Volver al inicio</a>
  </div>
  </div>
</div>
{% endblock %}
