{% extends "Taberna/base.html" %}

{% block title %}Avatar{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-4">Actualizar Avatar</h1>
  <form method="post" enctype="multipart/form-data" class="bg-dark p-4 rounded shadow w-50 mx-auto">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary w-100">Actualizar Avatar</button>
  </form>

  <div class="text-center mt-3">
    <a href="{% url 'Taberna:home' %}" class="btn btn-secondary">Volver al inicio</a>
  </div>
</div>
{% endblock %}
