{% extends "Taberna/base.html" %}

{% block title %}
    Crear Cliente Frecuente
{% endblock title %}

{% block content %}
    <head>
        <title>Crear Cliente Frecuente</title>
    </head>
    <body>
        <h1>Crear Cliente Frecuente</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Crear Cliente Frecuente</button>
        </form>
    </body>
    <br>
    <a href="{% url 'clientes_frecuentes' %}">Volver a la lista de Cliente Frecuentes</a>
    <br>
    <a href="{% url 'home' %}">Volver al inicio</a>
    <br>
{% endblock content %}