{% extends "Taberna/base.html" %}

{% block title %}Crear Tabernero{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-warning">Crear Tabernero</h2>
  <form method="post" class="bg-taberna text-white p-4 rounded shadow w-50 mx-auto">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success w-100">Crear Tabernero</button>
  </form>

  <div class="text-center mt-4">
    <a href="{% url 'Taberna:taberneros' %}" class="btn btn-alerta">Volver a la lista</a>
    <a href="{% url 'Taberna:home' %}" class="btn btn-secondary">Volver al inicio</a>
  </div>
</div>
{% endblock %}
