{% extends "base.html" %}

{% block title %}
    Crear Tabernero
{% endblock title %}

{% block content %}
    <head>
        <title>Crear Tabernero</title>
    </head>
    <body>
        <h1>Crear Tabernero</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Crear Tabernero</button>
        </form>
    </body>
    <br>
    <a href="{% url 'taberneros' %}">Volver a la lista de taberneros</a>
    <br>
    <a href="{% url 'index' %}">Volver al inicio</a>
    <br>
{% endblock content %}