{% extends "Taberna/base.html" %}

{% block title %}
    Crear Comentario
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Crear Nuevo Comentario</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="mensaje" class="form-label">Tu Comentario</label>
            <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
        </div>
        
        <button type="submit" class="btn btn-success">Enviar Comentario</button>
        <a href="{% url 'Taberna:comentarios' %}" class="btn btn-danger">Cancelar</a>
    </form>
</div>
{% endblock %}