{% extends "Taberna/base.html" %}

{% block content %}
  <ul class="list-group mb-3">
    <li class="list-group-item">Nombre: {{ producto.nombre }}</li>
    <li class="list-group-item">Precio: {{ producto.precio }}</li>
    <li class="list-group-item">Stock: {{ producto.stock }}</li>
  </ul>

    <div class="container mt-5">
      <h2 class="mb-4">Descripción del Producto</h2>
      <p class="lead">{{ producto.descripcion }}</p>
      {% if user.is_authenticated %}
        <div class="d-grid gap-2 mt-4">
          <a href="{% url 'Taberna:actualizar_producto' producto.id %}" class="btn btn-warning">Actualizar Producto</a>
          <a href="{% url 'Taberna:producto_confirm_delete' producto.id %}" class="btn btn-danger">Eliminar Producto</a>
        </div>
      {% endif %}
    </div>
  <div class="text-center mt-4">
    <a href="{% url 'Taberna:productos' %}" class="btn btn-secondary">Volver a la lista</a>
  </div>
{% endblock %}

