{% extends "Taberna/base.html" %}

{% block content %}
  <ul class="list-group mb-3">
    <li class="list-group-item">Nombre: {{ tabernero.nombre }}</li>
    <li class="list-group-item">Apellido: {{ tabernero.apellido }}</li>
    <li class="list-group-item">Edad: {{ tabernero.edad}}</li>
    <li>Especialidad: 
      {% if tabernero.edad > 50 %}
        Maestro Cervecero
      {% elif tabernero.edad > 30 %}
        Chef Principal
      {% else %}
        Cantinero
      {% endif %}
  </ul>
  <div>
    <a href="{% url 'Taberna:taberneros' %}" class="btn btn-secondary">Volver a los Taberneros</a>
  </div>
{% endblock %}
