{% extends "Taberna/base.html" %}

{% block content %}
  <ul>
    <li>Nombre: {{ tabernero.nombre }}</li>
    <li>Apellido: {{ tabernero.apellido }}</li>
    <li>Edad: {{ tabernero.edad }}</li>
    <li>Especialidad: 
      {% if tabernero.edad > 50 %}
        Maestro Cervecero
      {% elif tabernero.edad > 30 %}
        Chef Principal
      {% else %}
        Cantinero
      {% endif %}
    </li>
    <div>
      <a href="{% url 'Taberna:taberneros' %}" class="button-link taberneros">Volver a los Taberneros</a>
    </div>
  </ul>
{% endblock %}

