{% extends "Taberna/base.html" %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">✏️ Cambio de identidad, ¿eh?</h2>
    <form method="post" class="bg-taberna text-white p-4 rounded shadow w-50 mx-auto">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
              <div class="form-group row">
                  <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label text-right">{{ field.label }}</label>
                  <div class="col-sm-8">
                    {% if field.name == 'biografia' %}
                          <textarea name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control bio-textarea" rows="4">{{ field.value|default:"" }}</textarea>
                      {% else %}
                        {{ field }}
                        {% endif %}
                      {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                      {% endif %}
                  </div>
              </div>
          </div>
        {% endfor %}

        <div class="text-center my-3">
            <a href="{% url 'Taberna:agregar_avatar' %}" class="btn btn-primary text-white"> Cambiar avatar</a>
            <a href="{% url 'Taberna:password_cambio' %}" class="btn btn-peligro text-white">🔐 Cambiar contraseña</a>
        </div>

        <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-success text-white">💾 Guardar Cambios</button>
            <a href="{% url 'Taberna:home' %}" class="btn btn-secondary">🏠 Volver al Inicio</a>
        </div>
    </form>
</div>
{% endblock %}