{% extends "Taberna/base.html" %}

{% block title %}
    Editar Perfil
{% endblock title %}

{% block content %}
    <h2>✏️ Ajusta tu leyenda</h2>
    <form method="post" style="margin-top: 1.5em;">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="button-container">
            <input type="submit" value="Guardar Cambios" class="button-link taberneros" />
            <a href="{% url 'Taberna:home' %}" class="button-link clientes">🏠 Volver al Inicio</a>
        </div>
    </form>
{% endblock content %}
