{% extends "Taberna/base.html" %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">✏️ Ajusta tu leyenda</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
              {{ field.label_tag }}
              {{ field }}
              {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
              {% endif %}
          </div>
        {% endfor %}
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a href="{% url 'Taberna:home' %}" class="btn btn-secondary">🏠 Volver al Inicio</a>
        </div>
    </form>
</div>
{% endblock %}
