{% extends "Taberna/base.html" %}
{% load static %}

{% block title %}Lion's Pride Inn{% endblock %}

{% block content %}
<div class="fullscreen-background">
    <div class="welcome-content">
        <h1>Lion's Pride Inn</h1>
        <p>Descansá tus botas, aventurero, y cuéntanos tu historia.</p>
        <div class="button-container hero-buttons">
            <a href="{% url 'Taberna:taberneros' %}" class="button-link taberneros">👨‍🍳 Taberneros</a>
            <a href="{% url 'Taberna:clientes_frecuentes' %}" class="button-link clientes">🧙‍♂️ Clientes Frecuentes</a>
            <a href="{% url 'Taberna:productos' %}" class="button-link productos">🍻 Menú</a>
            <a href="{% url 'Taberna:about' %}" class="button-link about">🧾 ¡Conoceme!</a>
        </div>
    </div>
</div>

{% endblock %}