{% extends "Taberna/base.html" %}

{% block title %}
Perfil de {{ user.username }}
{% endblock title %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4 text-center">Perfil de {{ user.username }}</h1>
  <h2 class="text-warning">Información del Usuario</h2>
  <div class="bg-taberna text-white p-4 rounded shadow w-50 mx-auto">
    <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Biografía:</strong> {{ user.profile.biografia }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ user.profile.fecha_nacimiento|date:"d/m/Y" }}</p>

    <div class="d-flex justify-content-center gap-2">
            <a href="{% url 'Taberna:editar_perfil' %}" class="btn btn-success text-white">✏️ Editar Perfil</a>
            <a href="{% url 'Taberna:home' %}" class="btn btn-secondary">🏠 Volver al Inicio</a>
    </div>
    </div>
</div>
{% endblock content %}
