{% extends "base.html" %}

{% block content %}
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
        <tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.stock }}</td>
          <td>
            <a href="{% url 'Taberna:detalle_productos' producto.id %}" class="btn btn-sm btn-info">Ver Detalles</a>
            <a href="{% url 'Taberna:actualizar_producto' producto.id %}" class="btn btn-sm btn-warning">Editar</a>
            <a href="{% url 'Taberna:producto_confirm_delete' producto.id %}" class="btn btn-sm btn-danger">Eliminar</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">No hay productos disponibles.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="text-center mt-4">
  <a href="{% url 'Taberna:crear_producto' %}" class="btn btn-success">
    ➕ Agregar nuevo producto
  </a>
</div>
{% endblock %}
